// Desktop navbar
#navbar {
    display: none;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
    }

    @media screen and (min-width: 768px) {
        display: block;
    }
}

#upperNavbar {
    background-color: $dark;
    width: 100vw;
    color: white;
    height: 4vh;
    padding: 0.3% 0;
    display: none;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
    }
    a {
        color: white;
    }
    
    @include media-breakpoint-up(xl) {
        display: block;
    }
}
#upperNavLeft {
    float: left;

     li {
        padding: 0 10px;
     }
}
#upperNavRight {
    float: right;

    li {
        padding: 0 7.5px;
     }
}

.navItems {
    display: none;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 1% 0;
    background-color: white;
    transition: box-shadow 01s;

    &.active {
       box-shadow: 0 5px 5px #808080; 
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        width: fit-content;
    }
    li {
        display: inline-block;
        // margin-top: 2%;
        text-align: center;
        position: relative;
    }
    a {
        text-decoration: none;
        color: black;
        padding: 15px;
        display: block;
        transition: color 0.3s, font-weight 0.3s;

        &:hover {
            color: $bordeaux;
            font-weight: bold;
        }
    }
    .active:not(#navSearchForm)::after {
        display: block;
        width: 100%;
        background-color: black;
        height: 1px;
        content: "";
    }
    
    @include media-breakpoint-up(sm) {
        display: block;
    }
}
#navLogo {
    display: none;
  
    margin: 30px auto;
    width:400px;
    position: relative;
    transition: height 0.3s;

    img {
        width: 100%;
    }

    @include media-breakpoint-up(sm) {
        display: block;
    }
}

.navDropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $dark;
    display: none;
    opacity: 0;
    padding: 0 5% 10%;
    z-index: 9999;
    transition: opacity 3s;

     li {
         display: block!important;
     }
     a {
         color: white!important;

         &:hover {
             color: $bordeaux!important;
         }
     }
     &:before {
        content: "";
        height: 20px;
        width: 20px;
        background: $dark;
        top: 0;
        left: 50%;
        transform: rotateZ(45deg) translateX(-50%);
        position: absolute;
    }
}
.navItems li:hover .navDropdown {display: block; opacity: 1;}
#searchButton {cursor: pointer;}
#navSearchForm {
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translateX(-50%);
    padding: 150%;
    background-color: $dark;
    display: none;

    &:before {
        content: "";
        height: 20px;
        width: 20px;
        background: $dark;
        top: 0;
        left: 50%;
        transform: rotateZ(45deg) translateX(-50%);
        position: absolute;
    }
    &:after {display: none;}
    input {
        border: none;
        padding: 4% 7.5%;
    }
}

// Mobile navbar
#mobileNav {
    background-color: rgba($dark, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 95;
    color: white;
    padding: 3%;
    height: 10vh;
    font-size: 1.3rem;
    margin-left: 0;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;

        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 5px;
        }
    }
    #mobileMenuButton i {
        padding: 5px;
    }

    @include media-breakpoint-up(sm) {
        display: none;
    }
}
#mobileNavLeft {
    height: 100%;
    width: 50%;

    img {
        height: 100%;
    }
}
#mobileNavRight {
    padding-top: 2.5%;
    width: 47%;
    text-align: right;
}

// Mobile slideout
#mobileSlideout {
    display: none;
    background-color: white;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 100vw;
    width: 80vw;
    height: 100vh;
    font-size: 1.2rem;
    overflow-y: scroll;
    ul {
        margin: 5% 0 0;
        padding: 0;
        list-style: none;
    }
    li {
        padding: 2.5%;

        a {
            color: $dark;
            padding: 2.5%;
        }
    }
}
#mobileNavSearchForm {
    width: 80%;
    margin-left: 5%;

    input {
        width: 100%;
        padding: 2.5% 5%;
    }
}
#mobileSlideoutHeader {
    background-color: $dark;
    padding: 1% 5%;
    position: relative;

    img {
        width: 50%;
        height: 50px;
        object-fit: contain;
    }
    #mobileSlideoutRight {
        position: absolute;
        right: 3%;
        top: 50%;
        transform: translateY(-50%);
        width: 25%;
    }
    a, i {
        color: white;
        font-size: 1.3rem;
        padding: 2%;
    }
}

#mobileSlideoutBackground {
    display: none;
    z-index: 98;
    background-color: rgba($bordeaux, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#mobileSlideoutItems {
    li {
        margin: 2.5%;
        padding: 0;
        a {
            padding: 0;
            line-height: 32px;
        }
    }
    .navDropdown-mob.collapse {
        display: none;
    }
    button {
        float: right;
        width: 32px;
        height: 32px;
        background: #555;
        color: #fff;
        border-radius: 3px;
        border: none;
        &.active {
            i:before {
                content: "\f0d8";
            }
        }
    }    
}